{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="container">

	<div class="ImageName">
		<img src="{% static 'dashboard/img/imgs/'+{{ name }}+'.jpg' %}" alt="Profile Image" height="150" width="100"><br>
		<label>{{ name }}</label>
	</div>
	<div class="formInputt">
		<form class="faceUpload" action="/dashboard/uploadPics/" method="POST" enctype="multipart/form-data" id="uploadPicsForm">
		{% csrf_token %}
			<input type="text" name="personName" id="personName">
			<input type="file" id="facialimgvid" name="facialimgvid" accept="video/*">
			<button type="submit" form="uploadPicsForm">Upload Pics from this video</button>
		</form>
	</div>
</div>
{% endblock content %}